@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import '../../assets/css/font.css';

.margin-little-bottom{
    margin-bottom: 10px;
}

@media (max-width: 400px){
    .input-small-sc{
            display: inline;
            text-align: center;
    }

    .margin-little-top{
        margin-top: 10px;
    }
}