

<!-- <app-loader></app-loader> -->

<body class="text-center">

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

    <main role="main" class="inner cover">
      <h1 class="cover-heading">What is Meraki?</h1>
      <p class="lead">
        <i>
          Thanks to widely available smart devices equipped with WiFi and BLE, <br/>Cisco Meraki’s wireless access points can detect and provide location analytics to report on user foot traffic behavior.
        </i>
      </p>
      <p class="lead">
        From: <a href="https://developer.cisco.com/meraki/scanning-api/#!introduction/scanning-api">https://developer.cisco.com/meraki/scanning-api/#!introduction/scanning-api</a>
      </p>
    </main>
  </div>
</body>