
<div class="container" data-toggle="collapse" aria-expanded="false">
    <div class="row p-3">
        <div class="font-weight-bold text-uppercase text-nowrap">How to get Mac Address</div>
    </div>
    <div class="row p-3">
        <button class="btn btn-outline-primary" (click)="openWinCmd()">PC, Windows 10, Command Prompt</button>
    </div>
    <div class="row p-3">
        <button class="btn btn-outline-primary" (click)="openWinControlP()">PC, Windows 10, Control Panel</button>
    </div>
    <div class="row p-3">
        <button class="btn btn-outline-primary" (click)="openMacTerminal()" >PC, MAC, Command Line</button>
    </div>
    <div class="row p-3">
        <button class="btn btn-outline-primary" (click)="openMacSystemPreferences()">PC, MAC, System Preferences</button>
    </div>
    <div class="row p-3">
        <button class="btn btn-outline-primary" >PC, Ubuntu, Command Line</button>
    </div>
    <div class="row p-3">
        <button class="btn btn-outline-primary" >Mobile, IOS, IPhone</button>
    </div>
    <div class="row p-3">
        <button class="btn btn-outline-primary" (click)="openAndroidGalaxy()">Mobile, Android, Galaxy</button>
    </div>
</div>
