@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

.map-double-size{
    /* width: 1650 px;  */
    /* height: 700 px; */
    width: 103.125 em; 
    height: 43.75 em;
}

.map-single-size{
    /* width: 660 px;
    height: 650 px; */
    width: 41.25 em;
    height: 40.625 em;
}

.map-small-size{
    /* width: 620 px;
    height: 620 px; */
    width: 500 px;
    height: 520 px;
}

.margin-bottom-little{
    margin-bottom: 10 em;
}

.margin-right-little{
    margin-right: 10 em;
}

.margin-left-little{
    margin-left: 10 em;
}

.inline{
    display: inline-block;
}

.position-relative{
    position: relative;
}

.flex{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.onsize{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}