<div>
    <h2 *ngIf="title" class="cursive-font">{{title}}</h2>
    <p *ngIf="subTitle" class="lead">{{subTitle}}</p>
    <p *ngIf="description" class="courier-font">{{description}}</p>
    <p *ngIf="info" class="info-font">{{info}}</p>
    <div class="map-double-size">
        <div class="map-single-size inline">
            <div id="myMap1"></div>
        </div>
        <div class="map-single-size-sm inline margin-left-little">
            <div id="myMap2"></div>
        </div>
    </div>
    <div>
        <div class="map-small-size position-relative margin-bottom-little margin-left-little" id="myMap3"></div>
    </div>
</div>