
<div>
    <!-- <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=[{{apiKey}}]' async defer></script> -->
    <h1>Located by Meraki within a minute in Sote Campus</h1>
    <br>
    <div style="width:1650px; height:700px;">
        <div style="width:750px; display:inline-block; margin-right: 40px;">
            <div id="myMap" style="width:680px;height:650px;"></div>
        </div>
        <div style="width:750px; display:inline-block;">
            <div id="myMap2" style="width:680px;height:650px;"></div>
        </div>
    </div>
    <div>
        <div id="myMap3" style="margin-bottom: 50px; position:relative;width:620px;height:620px;"></div>
    </div>
</div>