
<!-- <div>
    <h1>Located by Meraki within a minute in Sote Campus</h1>
    <br>
    <div style="width:1650px; height:700px;">
        <div style="width:750px; display:inline-block; margin-right: 40px;">
            <div id="myMap" style="width:680px;height:650px;"></div>
        </div>
        <div style="width:750px; display:inline-block;">
            <div id="myMap2" style="width:680px;height:650px;"></div>
        </div>
    </div>
    <div>
        <div id="myMap3" style="margin-bottom: 50px; position:relative;width:620px;height:620px;"></div>
    </div>
</div> -->
<div>
    <p *ngIf="ready">Here comes the result: {{ready}}</p>
    <h1>{{title}}</h1>
    <div class="map-double-size">
        <div class="map-single-size inline">
            <div id="myMap1"></div>
        </div>
        <div class="map-single-size inline margin-left-little">
            <div id="myMap2"></div>
        </div>
    </div>
    <div>
        <div class="map-small-size position-relative margin-bottom-little margin-left-little" id="myMap3"></div>
    </div>
</div>