@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import '../../assets/css/font.css';

.top-margin{
    margin-top: 2.5em;
}

.resize-input{
    width: 3em;
}

.margin-little-bottom{
    margin-bottom: 10px;
}