<div class="container-fluid">
    <div class="row">
      <div class="col-md-9 top-margin">
        <div *ngIf="!trackClicked" class="row">
          <div class="row">
            <div class="col">
              <h5>Track the device How it is located by meraki</h5>
            </div>
          </div>
          <div class="row input-group margin-little-bottom">
            <div class="col">
              <input class="form-control" (keyup)="inputControl()" maxlength="" id="mac1" autocomplete="off">
            </div>:
            <div class="col">
              <input class="form-control" (keyup)="inputControl()" maxlength="" id="mac2" autocomplete="off">
            </div>:
            <div class="col">
              <input class="form-control" (keyup)="inputControl()" maxlength="" id="mac3" autocomplete="off">
            </div>:
            <div class="col">
              <input class="form-control" (keyup)="inputControl()" maxlength="" id="mac4" autocomplete="off">
            </div>:
            <div class="col">
              <input class="form-control" (keyup)="inputControl()" maxlength="" id="mac5" autocomplete="off">
            </div>:
            <div class="col">
              <input class="form-control" (keyup)="inputControl()" maxlength="" id="mac6" autocomplete="off">
            </div>
            <div class="col">
              <button class="btn" (click)="goTrack()" id="btn">Track</button>
            </div>
          </div>
          <div class="row input-group">
            <div class="col">
              <span class="input-group-text" >From</span>
              <input class="form-control" type="date" id="date_from" max="{{today}}" value="{{today}}">
            </div>
            <div class="col">
                <span class="input-group-text">To</span>
              <input class="form-control" type="date" id="date_to" max="{{today}}" value="{{today}}">
            </div>
          </div>
        </div>
        <div *ngIf="trackClicked && mapReady">
          <div><button class="btn btn-primary" (click)="goBack()" >Back</button></div>
          <app-map [clientMac]="clientMac" [imgSrc1]="imgSrc1" [imgSrc2]="imgSrc2" [imgSrc3]="imgSrc3" [isTileLvl]="isTileLvl" [type]="type" [title]="title" [date_from]="date_from" [date_to]="date_to"></app-map>
        </div>
      </div>
      <div class="col-md-3">
        <app-guide *ngIf="guideOn"></app-guide>
      </div>
    </div>
  </div>
  