
<div>
  <h1>HeatMap, Located by Meraki</h1>
  <br>
  <div style="width:1650px; height:700px;">
      <div style="width:750px; display:inline-block; margin-right: 40px;">
          <div id="heatMap1" style="width:680px;height:650px;"></div>
      </div>
      <div style="width:750px; display:inline-block;">
          <div id="heatMap2" style="width:680px;height:650px;"></div>
      </div>
  </div>
  <div>
      <div id="heatMap3" style="margin-bottom: 50px; position:relative;width:620px;height:620px;"></div>
  </div>
</div>